<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="exceptionManagement" type="Cedeira.Ex.ExceptionManagerSectionHandler,CedeiraEx" />
  </configSections>

  <exceptionManagement mode="on">
    <publisher assembly="CedeiraEx" type="Cedeira.Ex.MessageExceptionPublisher" include="*"/>
  </exceptionManagement>

  <appSettings>
    <add key="FEA_ar_gov_afip_wsaa_LoginCMSService" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms?wsdl" />
    <add key="FEA_ar_gov_afip_wsw_Service" value="https://wswhomo.afip.gov.ar/wsfe/service.asmx" />
    <add key="rutaCertificadoAFIP" value="C:\OpenSSL-Win64\bin\" />
    <add key="CUIT" value="20225018805" />
    <add key="Proxy" value="NO" />
    <!--<add key="Proxy" value="10.0.55.201"/>
    <add key="UsuarioProxy" value="L0737860"/>
    <add key="ClaveProxy" value="79797979"/>
    <add key="DominioProxy" value="BGCMZ"/>-->
    <add key="Cultura" value="es-AR" />
    <add key="CulturaDateTimeFormat" value="es-AR" />
    <add key="CampoHabilitadoBackColor" value="Gold" />
    <add key="LabelCampoHabilitadoForeColor" value="Red" />
    <add key="CampoDesHabilitadoBackColor" value="White" />
    <add key="LabelCampoDesHabilitadoForeColor" value="Navy" />
    <add key="Autenticacion" value="NONE" />
    <add key="WSmailURL" value="http://cedeiraws.bancogalicia.com.ar/ws/email.asmx" />
  </appSettings>

  <connectionStrings>
    <add name="MySQL" connectionString="Server=localhost;Database=FEA;Uid=fea;Pwd=fea;" />
	<add name="SQLServer" connectionString="User ID=usr_CedFEA;Password=123456;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CedFEA" />
  </connectionStrings>

</configuration>